.App {
  text-align: center;
  background-image: url("../../assets/cheerful-diverse-friends-with-arms-around.jpg");
  /* background-image: ; */
  background-size: cover;
}

.filtro{
  background: linear-gradient(0deg, rgba(80, 155, 230, 0.5), rgba(80, 155, 230, 0.5));

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.Logo{
  height: 50px;
}
.hamburgerHeader{
  height: 45px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.container{
  width: 1000px;
  /* height: 1000px; */
  margin: auto;
  height: 70vw;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.body{
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.containerHeader{
  display: flex;
  height: 100%;
  width: 900px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

/* .divLogo{
  display: flex;
  justify-content: center;
  width: auto;
  margin: auto;
} */

.blocoLogin{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 650px;
  margin: auto;
  background-color: rgba(229, 229, 229, 0.82);
  border: 1px solid #000000;
  border-radius: 25px;
}

.blocoLoginContainer{
  margin: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.formularioLogin{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 360px;
}
.formularioLogin span{
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.email{
  height: 40px;
}
.senha{
  height: 40px;
}

.botaoLogin{
  height: 50px;
  border-radius: 24px;
  background: #6549F2;
  
}

.botaoLogin::placeholder {
  color:aliceblue;
}

.linksRelacionadosLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-between;
  margin-bottom: auto;
  margin-top: auto;
}


.linksRelacionadosLogin hr{
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.esqueceuasenha{
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.naotemumaconta{
  text-decoration: none;
  font-size: 18px;
  color: black;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
